# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc

# Editor or IDE files
*.swp
*.vcxproj
.vscode/*
.history/
.idea

# Build tools
*.cmake
CMakeCache.txt
CMakeFiles/
cache.mk
/cmake/build
cmake-build-debug/

# ctags
tags
