# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/varlogctl
bin/vmr
bin/vms
bin/vsn
bin/rpc_test_server
bin/rpcbench_client
bin/rpcbench_server
bin/benchmark
bin/varlogcli
bin/stress
bin/varlogsn
bin/varlogadm

# Python
*.pyc

# Editor or IDE files
*.swp
*.vcxproj
.vscode/*
.history/
.idea

# Build tools
*.cmake
CMakeCache.txt
CMakeFiles/
cache.mk
/cmake/build
cmake-build-debug/

# Platform specific files
.DS_Store

# ctags
/tags

# k8s
deploy/k8s-experiment/dev/kustomization.yaml
deploy/k8s-experiment/sbx/kustomization.yaml
deploy/k8s-experiment/pm/kustomization.yaml
deploy/k8s-experiment/e2e/kustomization.yaml

# temporary files
coverage.xml
coverage.out
.coverage
