name: containers

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
    branches:
      - main

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        output: [varlogadm, varlogmr, varlogsn, varlogctl, varlogcli, varlogbenchmark]

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/kakao/${{ matrix.output }}
          tags: |
            type=ref,event=tag
            type=sha,event=branch,prefix=

      - name: Build and push ${{ matrix.output }}
        uses: docker/build-push-action@v4
        with:
          context: .
          file: build/Dockerfile
          target: ${{ matrix.output }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
