name: release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3.7.5
        with:
          token: ${{ secrets.VARLOG_GITHUB_TOKEN }}
          release-type: go
          package-name: varlog
